<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WZNTServices/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="WZNTServices.IService" name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>